/** @format */

.card {
  width: 300px;
  height: 360px;
  position: relative;
  padding: 2rem;
  color: #0d2c4f;
  overflow: hidden;


  background-color: rgba(255, 255, 255, 0.2);


  /* --- Border Styling --- */
  // border: 1px solid rgba(0, 172, 230, 0.5);

  border-radius: 12px;
  z-index: 0;

  /* Inner glow effect */
  box-shadow: inset 0 0 20px rgba(0, 172, 230, 0.3);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    /* border thickness */
    background: linear-gradient(45deg, #98F9FF, #ffffff28, #D9FDFF);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}

.windowDots {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  /* Applying specific colors to each dot */
  &:nth-child(1) {
    background-color: #ff5f56;
  }

  &:nth-child(2) {
    background-color: #ffbd2e;
  }

  &:nth-child(3) {
    background-color: #27c93f;
  }
}

.iconWrapper {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 4rem;
  /* Adjust size as needed */
  color: #00a8e6;
  opacity: 0.8;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 6rem;
  /* Give space below the icon */
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 90%;
  /* prevent text from touching the edge */
}