.circular_text {
  margin: 0 auto;
  border-radius: 50%;
  width: 2000px;
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 2000px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.2;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  
}

.circular_text_span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 100px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}