/** @format */
@use './styles/mixin' as mixin;
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: clip;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  @include mixin.sm {
    // overflow: hidden;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

.light {
  --background: #0B285B;
  --foreground: #154394;
  --card: #ffffff;
  --card-foreground: #154394;
  --popover: #ffffff;
  --popover-foreground: #333333;
  --primary: #154394;
  --primary-foreground: #154394;
  --secondary: #71C3FA;
  --secondary-foreground: #4b5563;
}

.dark {
  --background: #f2f3f7;
  --foreground: #333333;
  --card: #ffffff;
  --card-foreground: #333333;
  --popover: #ffffff;
  --popover-foreground: #333333;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #4b5563;
}


//Animation for floating elements
.floating {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 1.2s ease-out, opacity 1.2s ease-out;
  will-change: transform, opacity;
}

.floating.visible {
  transform: translateY(0);
  opacity: 1;
}

.h-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.h-full {
  height: 100%;
}

.right_dots {
  position: absolute;
  top: 20%;
  right: 10%;
  opacity: 0.5;
}

.left_dots {
  position: absolute;
  bottom: 20%;
  transform: scaleX(-1) rotate(90deg);
  left: 10%;
  opacity: 0.5;

  // transform: rotateY(180deg);
}